<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.Name %>
</p>

<p>
  <strong>User:</strong>
  <%= @plan.User %>
</p>

<p>
  <strong>Major id:</strong>
  <%= @plan.Major_ID %>
</p>

<p>
  <strong>Catalog id:</strong>
  <%= @plan.Catalog_ID %>
</p>

<p>
  <strong>Current year:</strong>
  <%= @plan.Current_Year %>
</p>

<p>
  <strong>Current semester:</strong>
  <%= @plan.Current_Semester %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
