<style>
  body {background-color: #BDBFC0;}
  h1 {font-family: "Ink Free";}

  .welcome{
    font-size: 30pt;
  }

  .new-plan-button{
    margin-bottom: 5px;
  }

  .plan-head {
    font-size: 30pt;
    margin-top: 75px;
  }

  .plan-row {
    background-color: white;
  }

  .show-button {
    margin: 5px auto;
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }
  .edit-button {
    margin: 5px auto;
    background-color: #DEA731;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }
  .destroy-button {
    margin: 5px auto;
    background-color: red;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
  }

  .planName {
    font-size: 15pt;
    text-align: center;
  }

  .planHeader {
    font-size: 18pt;
  }

</style>




<header>
  <h1 class='welcome'>Welcome to the Academic Planning Tool</h1>
  <% if user_signed_in? %>
    <% if current_user.admin %>
      <h3>Welcome, ADMIN <%=current_user.login%></h3>
      <%=button_to "New Plan", new_plan_path, method: :get, class:'new-plan-button' %>
      <%=button_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <h3>Welcome, <%=current_user.login%></h3>
      <%=button_to "New Plan", new_plan_path, method: :get, class:'new-plan-button' %>
      <%=button_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% end %>

  <% else %>
    <%=button_to "Sign in", new_user_session_path, method: :get %>
    <%=button_to "Sign up", new_user_registration_path, method: :get %>
  <% end %>
</header>

<body>

<h1 class='plan-head'>Plans</h1>

<table>
  <tbody>
    <% @plans.each do |plan| %>
      <tr class='plan-row'>
        <td class='planName'><%= plan.name %></td>
        <td><%= button_to 'Show', plan, method: :get, class: 'show-button' %></td>
        <td><%= button_to 'Edit', edit_plan_path(plan), method: :get, class:'edit-button' %></td>
        <td><%= button_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' }, class:'destroy-button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</body>