<p id="notice"><%= notice %></p>

<body class="bod">

    <div id="page-container">

        <!--------HEADER DIVISION-------->
        <div id="header">

            <!--------HEADER CU LOGO-------->
            <a id="logo-link" href="https://www.cedarville.edu">
                <%= image_tag "CU-logo-1.png", :id => 'logo' %>
            </a>

            <!--------HEADER TITLE-------->
            <h2 id="header-title">Academic Planning</h2>

            <!--------WEBSITE VERSION-------->
            <p id="version-number">version 1.0</p>

            <!--------HEADER BUTTONS CONTAINER-------->
            <div id="header-options">

                <!--------JUDAH BUTTON-------->
                <%= link_to "Judah", "http://judah.cedarville.edu/peopleschoice/index.php", :class => 'header-button' %>

                <!--------HOME BUTTON-------->
                <%= link_to "Home", "/plans", :class => 'header-button' %>

                <!--------SAVE BUTTON-------->
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'header-button' %>

            </div>

        </div>


        <!--------MAIN CONTAINER-------->
        <div id="main-container">


            <!--------LEFT DIVISION-------->
            <div id="left">


                <!--------REQUIREMENTS DIVISION-------->

                <div class="requirements-division">
                    <div class="section-title">Requirements</div>
                    <div id="req-table", class="ui-widget-content">
                        <div id="accordion">
                            <h3>Core</h3>
                            <div class="accord-content" id="accord-div-1"></div>
                            <h3>Electives</h3>
                            <div class="accord-content" id="accord-div-2"></div>
                            <h3>Cognates</h3>
                            <div class="accord-content" id="accord-div-3"></div>
                        </div>
                    </div>
                </div>
                
                
                <!--------/REQUIREMENTS DIVISION-------->


                <!--------VALIDATION STATUS DIVISION-------->
                <div class="extras-section-division">
                    <div class="section-title">Plan Selection</div>
                    <div class="extras-section-table">

                        <div class="kbb-container">

                            <form method="POST" action="./action/updatePlanAction.php">

                                <select name="planName" class="dropdown" id="drop-menu-1">

                                </select>

                                <button type="submit" class="planButton">Change Plan</button>

                            </form>

                            <button class="open-button" onclick="openForm()">Create Plan</button>

                            <div class="form-popup" id="myForm">
                                <form method="POST" action="./action/createPlanAction.php" class="form-container">

                                    <label for="planName"><b>Plan Name</b></label>
                                    <input type="text" placeholder="Enter Plan Name" name="planName" required>

                                    <label for="major"><b>Major</b></label>
                                    <select name="major" id="major" required>
                                        <option value="">--Select Major--</option>
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Computer Engineering">Computer Engineering</option>
                                    </select>

                                    <button type="submit" class="btn">Create Plan</button>
                                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

                                </form>
                            </div>

                            <script>
                                function openForm() {
                                    document.getElementById("myForm").style.display = "block";
                                }

                                function closeForm() {
                                    document.getElementById("myForm").style.display = "none";
                                }
                            </script>

                        </div>
                        
                    </div>
                </div>
                <!--------/VALIDATION STATUS DIVISION-------->

                
            </div>
            <!--------/LEFT DIVISION-------->




            <!--------RIGHT DIVISION-------->
            <div id="right">


                <!--------SEMESTER DIVISION-------->
                <div class="semester-division" id="sem-div">

                    <!--------YEARS CONTAINER-------->
                    <div class="years-container">

                        <div id="first-year"></div>
                        <div id="second-year"></div>
                        <div id="third-year"></div>
                        <div id="fourth-year"></div>

                    </div>
                    <!--------/YEARS CONTAINER-------->


                </div>
                <!--------/SEMESTER DIVISION-------->            


                <!--------COURSE FINDER DIVISION-------->
                <div class="course-finder-division">
                    <div class="section-title">Course Finder</div>

                    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

                    <table id="dataTable" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>Designator</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Credits</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
                <!--------/COURSE FINDER DIVISION-------->


            </div>
            <!--------/RIGHT DIVISION-------->


        </div>
        <!--------/MAIN CONTAINER-------->

    </div>
    
</body>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
